---
title: 'Core 2: Interaction'
---



<h1>{{ page.title }}</h1>



<h2>Plans</h2>



<h2>Projects</h2>



<h2>People</h2>
<ul>
	{% assign people = site.data.people | sort: 'name' %}
	{% for person in people %}
		<li>
			<h3>
				{{- person.name -}}
				{%- if person.pronouns %} ({{- person.pronouns -}}){% endif -%}
				{%- if person.teacher %}, Instructor{% endif -%}
			</h3>
			{% if person.link %}
				<a href="{{- person.link -}}">{{- person.link -}}</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>

