---
title: 'Core 2: Interaction'
subtitle: Parsons, Spring 2023, Section A
half:
  - title: Studio
    info: |-
      PUCD 2125, CRN 2526
      2 W 13th, Room 1013
      Tuesdays/Thursdays, 9–11:40am
    instructor: |-
      Tee Topor
      [http://teetopor.art/](http://teetopor.art/)
      [topot878@newschool.edu](mailto:topot878@newschool.edu)
  - title: Lab
    info: |-
      PUCD 2126, CRN 2533
      2 W 13th, Room 801
      Fridays, 9–11:40am
    instructor: |-
      Michael Fehrenbach
      [https://michaelfehrenbach.com](https://michaelfehrenbach.com)
      [fehrenbm@newschool.edu](mailto:fehrenbm@newschool.edu)
links:
  - name: Discord
    url:  https://discord.gg/vF9d48B8Nw
  - name: GitHub
    url:  https://github.com/core-interaction-s23
  - name: Google
    url:  https://drive.google.com/drive/folders/1OlAaxMEYZY6QwwBISAgRKa1yCsrRr6xi
  - name: Zoom
    url:  https://NewSchool.zoom.us/j/96982505682
---



<header>
	<h1>{{ page.title }}</h1>
	<h2>{{ page.subtitle }}</h2>
	<address>
		<ul>
			{% for half in page.half %}
				<li>
					<h3>{{ half.title }}</h3>
					{{ half.info | newline_to_br | markdownify }}
					{{ half.instructor | newline_to_br | markdownify }}
				</li>
			{% endfor %}
		</ul>
	</address>
	<ul>
		{% for link in page.links %}
			<li>
				<h3>{{ link.name }}</h3>
				<p><a href="{{- link.url -}}">{{- link.url | truncate: 40 -}}</a></p>
			</li>
		{% endfor %}
	</ul>
</header>
<main>
	<details>
		<summary>
			<h2>Plans</h2>
		</summary>
		<ul>
			{%- include sorted_plans.html -%}
			{% for plan in plans %}
				<li>
					<h3>Week {{- plan.slug -}}</h3>
					{%- include auto_date.html -%}
					<p><time>{{ dates }}</time></p>
					{{ plan.content | replace: '<h1', '<h4' | replace: 'h1>', 'h4>' | replace: '<h2', '<h5' | replace: 'h2>', 'h5>' | replace: '<h3', '<h6' | replace: 'h3>', 'h6>' }}
				</li>
			{% endfor %}
		</ul>
	</details>
	<details>
		<summary>
			<h2>Projects</h2>
		</summary>
		<ul>
			{% for project in site.projects %}
				<li>
					<h3>{{- project.title -}}</h3>
					<p><time>Due {{ project.date | date: '%B %-d' }}</time></p>
					{{ project.content | replace: '<h1', '<h4' | replace: 'h1>', 'h4>' | replace: '<h2', '<h5' | replace: 'h2>', 'h5>' | replace: '<h3', '<h6' | replace: 'h3>', 'h6>' }}
				</li>
			{% endfor %}
		</ul>
	</details>
	<details>
		<summary>
			<h2>People</h2>
		</summary>
		<button>
			<p>Shuffle</p>
		</button>
		<ul id="people">
			{% assign people = site.data.people | sort: 'name' %}
			{% for person in people %}
				<li>
					<h3>
						{{- person.name -}}
						{%- if person.pronouns %} ({{- person.pronouns -}}){% endif -%}
						{%- if person.instructor %}, Instructor{% endif -%}
					</h3>
					{% if person.link %}
						<p><a href="{{- person.link -}}">{{- person.link -}}</a></p>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</details>
</main>
