---
title: 'Core 2: Interaction'
subtitle: Parsons, Spring 2023, Section A
half:
  - title: Studio
    info: |-
      PUCD 2125, CRN 2526
      2 W 13th, Room 1013
      Tuesdays/Thursdays, 9–11:40am
    instructor: |-
      Tee Topor *(they/them)*
      [http://teetopor.art/](http://teetopor.art/)
      [toporangel@newschool.edu](mailto:toporangel@newschool.edu)
  - title: Lab
    info: |-
      PUCD 2126, CRN 2533
      2 W 13th, Room 801
      Fridays, 9–11:40am
    instructor: |-
      Michael Fehrenbach *(he/him)*
      [https://michaelfehrenbach.com](https://michaelfehrenbach.com)
      [fehrenbm@newschool.edu](mailto:fehrenbm@newschool.edu)
links:
  - name: Discord
    url:  https://discord.gg/vF9d48B8Nw
  - name: GitHub
    url:  https://github.com/core-interaction-s23
  - name: Google
    url:  https://drive.google.com/drive/folders/1OlAaxMEYZY6QwwBISAgRKa1yCsrRr6xi
  - name: Zoom
    url:  https://NewSchool.zoom.us/j/96982505682
---



<header>
		<h1>{{ page.title }}</h1>
		<h2>{{ page.subtitle }}</h2>
</header>
<main>
	<address>
		{% for half in page.half %}
			<section>
				<h3>{{ half.title }}</h3>
				{{ half.info | newline_to_br | markdownify }}
				{{ half.instructor | newline_to_br | markdownify }}
			</section>
		{% endfor %}
	</address>
	<section>
		<menu>
			{% for link in page.links %}
				<li>
					<h3>{{ link.name }}</h3>
					<p><a href="{{- link.url -}}">{{- link.url | truncate: 44 -}}</a></p>
				</li>
			{% endfor %}
		</menu>
	</section>
	<section>
		<h2>Plans</h2>
		<ul>
			{%- include sorted_plans.html -%}
			{% for plan in plans %}
				<li>
					<details {%- if forloop.index == plans.size %} open {% endif %}>
						{%- include auto_date.html -%}
						<summary>
							<h3>Week {{- plan.slug }} — <time>{{ dates }}</time></h3>
						</summary>
						<article>
							{{ plan.content | replace: '<h1', '<h4' | replace: 'h1>', 'h4>' | replace: '<h2', '<h5' | replace: 'h2>', 'h5>' | replace: '<h3', '<h6' | replace: 'h3>', 'h6>' }}
						</article>
					</details>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<h2>Projects</h2>
		<ul>
			{% for project in site.projects %}
				<li>
					<details {%- if forloop.index == site.projects.size %} open {% endif %}>
						<summary>
							<h3>{{- project.title }} — <time>Due {{ project.date | date: '%B %-d' }}</time></h3>
						</summary>
						<article>
							{{ project.content | replace: '<h1', '<h4' | replace: 'h1>', 'h4>' | replace: '<h2', '<h5' | replace: 'h2>', 'h5>' | replace: '<h3', '<h6' | replace: 'h3>', 'h6>' }}
						</article>
					</details>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<h2>People</h2>
		<button>
			<p>⇅</p>
		</button>
		<menu id="people">
			{% assign people = site.data.people | sort: 'name' %}
			{% for person in people %}
				<li>
					<h3>
						{{- person.name -}}
						{%- if person.pronouns %} <em>({{- person.pronouns -}})</em>{% endif -%}
					</h3>
					{% if person.link %}
						<p><a href="{{- person.link -}}">{{- person.link -}}</a></p>
					{% endif %}
				</li>
			{% endfor %}
		</menu>
	</section>
</main>
