:root {
	font-feature-settings: 'liga', 'kern';
	font-size:             62.5%;
}

:root * {
	-moz-osx-font-smoothing:  grayscale;
	-webkit-font-smoothing:   antialiased;
	-webkit-text-size-adjust: none;
	font-kerning:             normal;
	font-smooth:              always;
	text-rendering:           optimizeLegibility;
}



em, em em em { font-style: italic }

em em { font-style: normal }

del { font-style: line-through }

nobr, .nowrap { white-space: nowrap }

@font-face {
	font-family:'forest' ;
	src: url(../type/GlyphWorld-Forest.otf);
}


@font-face{
	font-family: 'redaction35';
	src: url(../type/Redaction_35-Regular.woff2);
}
@font-face{
	font-family: 'redaction35-italic';
	src: url(../type/Redaction_35-Italic.woff2);
}


body {
	font-family:           'redaction35','Times New Roman', 'Times', serif;
	font-feature-settings: 'hlig', 'dlig', 'zero', 'kern', 'medi';
	font-size:             var(--font--base);
	font-variant:          historical-ligatures;
	letter-spacing:        -0.02em;
	line-height:           1.1;
}

h1{
	font-family: 'forest';
	color: #1f8888;
	font-size: 2.5em;
	-webkit-text-stroke: 1px black;
	text-shadow: 2px 2px black;

}

address h3{
	-webkit-text-stroke: 0.5px black;
	text-shadow: 2px 2px black;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	background-color: #1f8888;
	padding: 0.25em;
	box-shadow: 2px 2px black ;
}
section h2{
	font-family: 'forest';
	font-size:2em;
	-webkit-text-stroke: 0.5px black;
	text-shadow: 2px 2px black;
}
