:root {
	font-feature-settings: 'liga', 'kern';
	font-size:             62.5%;
}

:root * {
	-moz-osx-font-smoothing:  grayscale;
	-webkit-font-smoothing:   antialiased;
	-webkit-text-size-adjust: none;
	font-kerning:             normal;
	font-smooth:              always;
	text-rendering:           optimizeLegibility;
}



em, em em em { font-style: italic }

em em { font-style: normal }

del { font-style: line-through }

nobr, .nowrap {	white-space: nowrap }

body {
	font-family:           'Times New Roman', 'Times', serif;
	font-feature-settings: 'hlig', 'dlig', 'zero', 'kern', 'medi';
	font-size:             var(--font--base);
	font-variant:          historical-ligatures;
	letter-spacing:        -0.015em;
	line-height:           1.1;
}
