$--default-font-fize: 16;


// For targeting lingering, different behaviors.
@mixin browser-specific($browsers...) {
	@if index($browsers, 'firefox') {
		@supports (-moz-appearance: none) {
			@content;
		}
	}

	@if index($browsers, 'safari') {
		@supports (-webkit-hyphens: none) { // This might change, when Chrome plays ball.
			@content;
		}
	}

	@if index($browsers, 'safari--mobile') {
		@supports (-webkit-hyphens: none) and (-webkit-touch-callout: none) { // Target iOS subset.
			@content;
		}
	}

	@if index($browsers, 'safari--iphone') {
		@supports (-webkit-hyphens: none) and (-webkit-touch-callout: none) {
			@media (-webkit-min-device-pixel-ratio: 3) { // iPhones after 2020 or so, as no iPads are @3x yet.
				@content;
			}
		}
	}

	@if index($browsers, 'chrome') {
		@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
			@content;
		}
	}

	@if index($browsers, 'chrome--mobile') {
		@supports (not (-webkit-hyphens: none)) and (not (-moz-appearance: none)) {
			@media (max-width: #{$desktop--width - 1}px) {
				@content;
			}
		}
	}
}



// Flexible breaks.
@mixin breakpoint($break) {
	@if $break == 320 { // These are sadly the exception, now.
		@media (max-width: #{calc(374 / $--default-font-fize)}em) {
			@content;
		}
	}
	@else if $break == 768 {
		@media
			(min-width: #{calc($break / $--default-font-fize)}em) and (min-height: #{calc(480 / $--default-font-fize)}em), // Clear landscape iPhones.
			(min-width: #{calc(930 / $--default-font-fize)}em) {
			@content;
		}
	}
	@else {
		@media (min-width: #{calc($break / $--default-font-fize)}em) {
			@content;
		}
	}
}

@mixin landscape($break: false) {
	@if $break {
		@media
			(orientation: landscape),
			(min-width: #{calc($break / $--default-font-fize)}em) {
			@content;
		}
	}
	@else {
		@media
			(orientation: landscape), // Actually landscape.
			(min-width: #{calc(568 / $--default-font-fize)}em) and (min-height: #{calc(480 / $--default-font-fize)}em), // Clear landscape iPhones.
			(min-width: #{calc(930 / $--default-font-fize)}em) {
			@content;
		}
	}
}

@mixin tall {
	@media (min-height: #{calc(1024 / $--default-font-fize)}em) {
		@content;
	}
}

@mixin retina($density: 2) {
	@media (-webkit-min-device-pixel-ratio: #{$density}) {
		@content;
	}
}



// Scope hovers.
@mixin hover {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}
}
