<!DOCTYPE html>
<html>
	<head>
		<meta content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		<title>{{ page.title }}</title>
		<link href="/assets/styles/reset.css" rel="stylesheet">
		<link href="/assets/styles/main.css" rel="stylesheet">
		<script src="/assets/scripts/main.js"></script>
		<meta name="theme-color" content="#5a5af0">
		<link href="/assets/icons/dot.png" rel="icon" type="image/x-icon">
		<link href="/assets/icons/dot.png" rel="apple-touch-icon">
	</head>
	<body>
		{{ content }}
	</body>
</html>
